.funkyradio_a div {
    clear: both;
    overflow: hidden;
}

.funkyradio_a label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
    color:#111;
}

.funkyradio_a input[type="radio"]:empty {
    display: none;
}

.funkyradio_a input[type="radio"]:empty~label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: .5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio_a input[type="radio"]:empty~label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    /* content: ''; */
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.funkyradio_a input[type="radio"]:hover:not(:checked)~label {
    color: #888;
}

.funkyradio_a input[type="radio"]~label:before {
    content: 'A';
    text-indent: .9em;
    color: #111;
}

.funkyradio_a input[type="radio"]:hover:not(:checked)~label:before {
    content: 'A';
    text-indent: .9em;
    color: #858585;
}

.funkyradio_a input[type="radio"]:checked~label {
    color: #777;
}

.funkyradio_a input[type="radio"]:checked~label:before {
    content: 'A';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.funkyradio_a input[type="radio"]:focus~label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio_b div {
    clear: both;
    overflow: hidden;
}

.funkyradio_b label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
    color:#111;
}

.funkyradio_b input[type="radio"]:empty {
    display: none;
}

.funkyradio_b input[type="radio"]:empty~label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: .5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio_b input[type="radio"]:empty~label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    /* content: ''; */
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.funkyradio_b input[type="radio"]:hover:not(:checked)~label {
    color: #888;
}

.funkyradio_b input[type="radio"]~label:before {
    content: 'B';
    text-indent: .9em;
    color: #111;
}

.funkyradio_b input[type="radio"]:hover:not(:checked)~label:before {
    content: 'B';
    text-indent: .9em;
    color: #858585;
}

.funkyradio_b input[type="radio"]:checked~label {
    color: #777;
}

.funkyradio_b input[type="radio"]:checked~label:before {
    content: 'B';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.funkyradio_b input[type="radio"]:focus~label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio_c div {
    clear: both;
    overflow: hidden;
}

.funkyradio_c label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
    color:#111;
}

.funkyradio_c input[type="radio"]:empty {
    display: none;
}

.funkyradio_c input[type="radio"]:empty~label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: .5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio_c input[type="radio"]:empty~label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    /* content: ''; */
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.funkyradio_c input[type="radio"]:hover:not(:checked)~label {
    color: #888;
}

.funkyradio_c input[type="radio"]~label:before {
    content: 'C';
    text-indent: .9em;
    color: #111;
}

.funkyradio_c input[type="radio"]:hover:not(:checked)~label:before {
    content: 'C';
    text-indent: .9em;
    color: #858585;
}

.funkyradio_c input[type="radio"]:checked~label {
    color: #777;
}

.funkyradio_c input[type="radio"]:checked~label:before {
    content: 'C';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.funkyradio_c input[type="radio"]:focus~label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio_d div {
    clear: both;
    overflow: hidden;
}

.funkyradio_d label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
    color:#111;
}

.funkyradio_d input[type="radio"]:empty {
    display: none;
}

.funkyradio_d input[type="radio"]:empty~label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: .5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio_d input[type="radio"]:empty~label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    /* content: ''; */
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.funkyradio_d input[type="radio"]:hover:not(:checked)~label {
    color: #888;
}

.funkyradio_d input[type="radio"]~label:before {
    content: 'D';
    text-indent: .9em;
    color: #111;
}

.funkyradio_d input[type="radio"]:hover:not(:checked)~label:before {
    content: 'D';
    text-indent: .9em;
    color: #858585;
}

.funkyradio_d input[type="radio"]:checked~label {
    color: #777;
}

.funkyradio_d input[type="radio"]:checked~label:before {
    content: 'D';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.funkyradio_d input[type="radio"]:focus~label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio_e div {
    clear: both;
    overflow: hidden;
}

.funkyradio_e label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
    color:#111;
}

.funkyradio_e input[type="radio"]:empty {
    display: none;
}

.funkyradio_e input[type="radio"]:empty~label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: .5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio_e input[type="radio"]:empty~label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    /* content: ''; */
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.funkyradio_e input[type="radio"]:hover:not(:checked)~label {
    color: #888;
}

.funkyradio_e input[type="radio"]~label:before {
    content: 'E';
    text-indent: .9em;
    color: #111;
}

.funkyradio_e input[type="radio"]:hover:not(:checked)~label:before {
    content: 'E';
    text-indent: .9em;
    color: #858585;
}

.funkyradio_e input[type="radio"]:checked~label {
    color: #777;
}

.funkyradio_e input[type="radio"]:checked~label:before {
    content: 'E';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.funkyradio_e input[type="radio"]:focus~label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked~label:before {
    color: #333;
    background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked~label:before {
    color: #fff;
    background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked~label:before {
    color: #fff;
    background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked~label:before {
    color: #fff;
    background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked~label:before {
    color: #fff;
    background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked~label:before {
    color: #fff;
    background-color: #5bc0de;
}